/* Tilføj øverst */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Forhindrer scrolling */
  box-sizing: border-box;
}

#dodger {
  /* background-color: white;
  height: 20px;
  position: absolute;
  width: 40px; */
  width: 100px;
  height: 100px;
  position: absolute;
}

#game {
  background-image: url(img/background.svg);
  /* fylder hele viewport uden scroll og uden hvide kanter */
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-align: center;
  background-size: cover; /* dækker hele baggrunden */
  background-position: center; /* centrer baggrunden */
}

#start {
  color: white;
  font-size: 4rem;
  position: relative;
  text-decoration: none;
  top: 4rem;
}

.rock {
  width: 20px;
  height: 20px;
  background: tan;
  position: absolute;
}

.rock:before {
  content: "";
  border-bottom: 6px solid tan;
  border-left: 6px solid #111;
  border-right: 6px solid #111;
  height: 0;
  left: 0;
  position: absolute;
  top: 0;
  width: 9px;
}

.rock:after {
  content: "";
  border-left: 6px solid #111;
  border-right: 6px solid #111;
  border-top: 6px solid tan;
  bottom: 0;
  height: 0;
  left: 0;
  position: absolute;
  width: 9px;
}

#tilbage {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #920b1b;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
